
<%- include ('partials/header.ejs') %>


<div id="navbar" class="p-2">
    <% if (user.name != 'Guest') { %>

        <% if (user.role == 'admin') { %>
            <%- include ('partials/navigation_Admin.ejs') %>
        <% } %>

        <% if (user.role == 'leader') { %>
            <%- include ('partials/navigation_Leader.ejs') %>
        <% } %>

        <% if (user.role == 'user') { %>
            <%- include ('partials/navigation_Member.ejs') %>
        <% } %>

        <% if (user.role == 'viewer') { %>
            <%- include ('partials/navigation_Member.ejs') %>
        <% } %>

    <% } %>
</div>



<div class="container_ p-4">

    <%- include ('avatar.ejs') %>

    <h3 id="greeting"><%= user.name %></h3>
    <!-- <p style="color: black;"> ID: <%= user.id %></p> -->
    <!-- <p style="color: gray;"> Role: <%= user.role %> <br> Rank: <%= user.rank %> <br><%= user.list %></p> -->
    <p style="color: gray;"> <%= user.rank %> <br><%= user.list %></p>

    <h1 style="color: whitesmoke;">MTX Jobs</h1>

    <% if (user.role == 'admin' || user.role == 'leader') { %>
        <a class="btn btn-warning btn-block my-2" href="/notes/add">New Job</a>
        <!-- <pre><%= notes %></pre> -->
    <% } %>


    <div class="row">

        <div class="accordion accordion-flush my-4 small" id="accordionExample">

            <div class="accordion-item">
                <h2 class="accordion-header bg-dark">
                    <button class="accordion-button collapsed bg-dark" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapseOne" 
                            aria-expanded="true" 
                            aria-controls="collapseOne">
                        <h4 style="color: white;">Not Started</h4>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show_" data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-dark">
                        <table class="table table-hover table-striped table-dark table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Task</th>
                                    <!-- <th scope="col">Cust.</th> -->
                                    <th scope="col">C.ID</th>
                                    <th scope="col">Project</th>
                                    <th scope="col">Area</th>
                                    <th scope="col">Wells</th>
                                    <th scope="col">Budget</th>
                                    <th scope="col">P.O.C.</th>
                                    <th scope="col">Rig</th>
                                    <th scope="col">Resp.</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Due</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% notes.forEach(note => { %>
                                    <% if (user.role == 'admin' || user.role == 'leader' || user.name == note.responsible || user.list == note.customer) { %>                               
                                        <% if (note.status == 'Not Started') { %>
                                            <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                <th scope="row"><small><%= note.mtxJobId %></small></th>
                                                <td><%= note.title %></td>                                                
                                                <!-- <td><%= note.customer %></td> -->
                                                <td><%= note.customerJobNumber %></td>
                                                <% if (user.name == note.responsible) { %>
                                                    <td style="color: red;"><%= note.project%></td>
                                                <% } %>
                                                <% if (user.name != note.responsible) { %>
                                                    <td><%= note.project %></td>
                                                <% } %>                                                
                                                <td><%= note.area %></td>
                                                <td><%= note.wells %></td>
                                                <td><%= note.budget %></td>
                                                <td><%= note.poc %></td>
                                                <td><%= note.rig %></td>
                                                <td><%= note.responsible %></td>
                                                <td><small><%= note.created %></small></td>
                                                <td><small><%= note.dueDate %></small></td>
                                            </tr>
                                        <% } %>                             
                                    <% } %>
                                <% }) %> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header bg-dark">
                    <button class="accordion-button collapsed bg-dark" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapseTwo" 
                            aria-expanded="true" 
                            aria-controls="collapseTwo">
                        <h4 style="color:aqua;">In Progress</h4>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-dark">
                        <table class="table table-hover table-striped table-primary table-sm" style="color: black;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Task</th>
                                    <!-- <th scope="col">Cust.</th> -->
                                    <th scope="col">C.ID</th>
                                    <th scope="col">Project</th>
                                    <th scope="col">Area</th>
                                    <th scope="col">Wells</th>
                                    <th scope="col">Budget</th>
                                    <th scope="col">P.O.C.</th>
                                    <th scope="col">Rig</th>
                                    <th scope="col">Resp.</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Due</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% notes.forEach(note => { %>
                                    <% if (user.role == 'admin' || user.role == 'leader' || user.name == note.responsible || user.list == note.customer) { %>
                                        <% if (note.status == 'In Progress') { %>
                                            <% if (note.title != "Execution") { %>
                                                <tr  onclick="window.location.href='/notes/job/<%= note._id %>';">
                                            <% } %>
                                            <% if (note.title == "Execution") { %>
                                                <tr style="color: green;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                            <% } %>                                                
                                                <th scope="row"><small><%= note.mtxJobId %></small></th> 
                                                <td><%= note.title %></td>
                                                <td><%= note.customerJobNumber %></td>
                                                <% if (user.name == note.responsible) { %>
                                                    <td style="color: red;"><%= note.project%></td>
                                                <% } %>
                                                <% if (user.name != note.responsible) { %>
                                                    <td><%= note.project %></td>
                                                <% } %>
                                                <td><%= note.area %></td>
                                                <td><%= note.wells %></td>
                                                <td><%= note.budget %></td>
                                                <td><%= note.poc %></td>
                                                <td><%= note.rig %></td>
                                                <td><%= note.responsible %></td>
                                                <td><small><%= note.created %></small></td>
                                                <td><small><%= note.dueDate %></small></td>
                                            </tr>
                                        <% } %>  
                                    <% } %>                   
                                <% }) %> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header bg-dark">
                    <button class="accordion-button collapsed bg-dark" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapseThree" 
                            aria-expanded="true" 
                            aria-controls="collapseThree">
                        <h4 style="color: red;">On Hold</h4>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse show_" data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-dark">
                        <table class="table table-hover table-striped table-danger table-sm" style="color: black;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Task</th>
                                    <!-- <th scope="col">Cust.</th> -->
                                    <th scope="col">C.ID</th>
                                    <th scope="col">Project</th>
                                    <th scope="col">Area</th>
                                    <th scope="col">Wells</th>
                                    <th scope="col">Budget</th>
                                    <th scope="col">P.O.C.</th>
                                    <th scope="col">Rig</th>
                                    <th scope="col">Resp.</th>
                                    <th scope="col">Created</th>
                                    <!-- <th scope="col">Due</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <% notes.forEach(note => { %>
                                    <% if (user.role == 'admin' || user.role == 'leader' || user.name == note.responsible || user.list == note.customer) { %>
                                        <% if (note.status == 'On Hold') { %>
                                            <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                <th scope="row"><small><%= note.mtxJobId %></small></th>
                                                <td><%= note.title %></td>
                                                <!-- <td><%= note.customer %></td> -->
                                                <td><%= note.customerJobNumber %></td>
                                                <% if (user.name == note.responsible) { %>
                                                    <td style="color: red;"><%= note.project%></td>
                                                <% } %>
                                                <% if (user.name != note.responsible) { %>
                                                    <td><%= note.project %></td>
                                                <% } %>
                                                <td><%= note.area %></td>
                                                <td><%= note.wells %></td>
                                                <td><%= note.budget %></td>
                                                <td><%= note.poc %></td>
                                                <td><%= note.rig %></td>
                                                <td><%= note.responsible %></td>
                                                <td><small><%= note.created %></small></td>
                                                <!-- <td><small><%= note.dueDate %></small></td> -->
                                            </tr>
                                        <% } %> 
                                    <% } %>                    
                                <% }) %> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header bg-dark">
                    <button class="accordion-button collapsed bg-dark" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapseFour" 
                            aria-expanded="true" 
                            aria-controls="collapseFour">
                        <h4 style="color: orange;">QA/QC</h4>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse show_" data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-dark table-sm">
                        <table class="table table-hover table-striped table-warning" style="color: black;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Task</th>
                                    <!-- <th scope="col">Cust.</th> -->
                                    <th scope="col">C.ID</th>
                                    <th scope="col">Project</th>
                                    <th scope="col">Area</th>
                                    <th scope="col">Wells</th>
                                    <th scope="col">Budget</th>
                                    <th scope="col">P.O.C.</th>
                                    <th scope="col">Rig</th>
                                    <th scope="col">Resp.</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Due</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% notes.forEach(note => { %>
                                    <% if (user.role == 'admin' || user.role == 'leader' || user.name == note.responsible || user.list == note.customer) { %>
                                        <% if (note.status == 'QA/QC') { %>
                                            <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                <th scope="row"><small><%= note.mtxJobId %></small></th>
                                                <td><%= note.title %></td>
                                                <!-- <td><%= note.customer %></td> -->
                                                <td><%= note.customerJobNumber %></td>
                                                <% if (user.name == note.responsible) { %>
                                                    <td style="color: red;"><%= note.project%></td>
                                                <% } %>
                                                <% if (user.name != note.responsible) { %>
                                                    <td><%= note.project %></td>
                                                <% } %>
                                                <td><%= note.area %></td>
                                                <td><%= note.wells %></td>
                                                <td><%= note.budget %></td>
                                                <td><%= note.poc %></td>
                                                <td><%= note.rig %></td>
                                                <td><%= note.responsible %></td>
                                                <td><small><%= note.created %></small></td>
                                                <td><small><%= note.dueDate %></small></td>
                                            </tr>
                                        <% } %>  
                                    <% } %>                   
                                <% }) %> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header bg-dark">
                    <button class="accordion-button collapsed bg-dark" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapseFive" 
                            aria-expanded="true" 
                            aria-controls="collapseFive">
                        <h4 style="color:chartreuse;">Completed</h4>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse show_" data-bs-parent="#accordionExample">
                    <div class="accordion-body bg-dark table-sm">
                        <table class="table table-hover table-striped table-success" style="color: black;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Task</th>
                                    <!-- <th scope="col">Cust.</th> -->
                                    <th scope="col">C.ID</th>
                                    <th scope="col">Project</th>
                                    <th scope="col">Area</th>
                                    <th scope="col">Wells</th>
                                    <th scope="col">Budget</th>
                                    <th scope="col">P.O.C.</th>
                                    <th scope="col">Rig</th>
                                    <th scope="col">Resp.</th>
                                    <th scope="col">Created</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% notes.forEach(note => { %>
                                    <% if (user.role == 'admin' || user.role == 'leader' || user.name == note.responsible || user.list == note.customer) { %>
                                        <% if (note.status == 'Completed') { %>
                                            <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                <th scope="row"><small><%= note.mtxJobId %></small></th>
                                                <td><%= note.title %></td>
                                                <!-- <td><%= note.customer %></td> -->
                                                <td><%= note.customerJobNumber %></td>
                                                <% if (user.name == note.responsible) { %>
                                                    <td style="color: blue"><%= note.project%></td>
                                                <% } %>
                                                <% if (user.name != note.responsible) { %>
                                                    <td><%= note.project %></td>
                                                <% } %>
                                                <td><%= note.area %></td>
                                                <td><%= note.wells %></td>
                                                <td><%= note.budget %></td>
                                                <td><%= note.poc %></td>
                                                <td><%= note.rig %></td>
                                                <td><%= note.responsible %></td>
                                                <td><small><%= note.created %></small></td>
                                            </tr>
                                        <% } %> 
                                    <% } %>                   
                                <% }) %> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




            <% if (user.role == 'admin' && (user.name == "John" || user.name == "Polita")) { %>
                <div class="accordion-item">
                    <h2 class="accordion-header bg-dark">
                        <button class="accordion-button collapsed bg-dark" 
                                type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#collapseSix" 
                                aria-expanded="true" 
                                aria-controls="collapseSix">
                            <h4 style="color: black;">Archived</h4>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse show_" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-dark">
                            <table class="table table-hover table-striped table-dark table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Cust.</th>
                                        <th scope="col">C.ID</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Wells</th>
                                        <th scope="col">Budget</th>
                                        <th scope="col">P.O.C.</th>
                                        <th scope="col">Rig</th>
                                        <th scope="col">Resp.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% notes.forEach(note => { %>
                                        <% if (user.role == 'admin' || user.name == note.responsible || user.list == note.customer) { %>
                                            <% if (note.status == 'Billed' || note.status == 'Archived') { %>
                                                <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <th scope="row"><small><%= note.mtxJobId %></small></th>
                                                    <td><%= note.title %></td>
                                                    <td><%= note.customer %></td>
                                                    <td><%= note.customerJobNumber %></td>
                                                    <td><%= note.project %></td>
                                                    <td><%= note.area %></td>
                                                    <td><%= note.wells %></td>
                                                    <td><%= note.budget %></td>
                                                    <td><%= note.poc %></td>
                                                    <td><%= note.rig %></td>
                                                    <td><%= note.responsible %></td>
                                                    <!-- <td><small><%= note.dueDate %></small></td> -->
                                                </tr>
                                            <% } %> 
                                        <% } %>                    
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } %>


        </div>

    </div>

</div>

<%- include ('partials/footer.ejs') %>