<!--  -->

<%- include ('partials/header.ejs') %>


<div id="navbar" class="p-2">
    <% if (user.name != 'Guest') { %>

        <% if (user.role == 'admin') { %>
            <%- include ('partials/navigation_Admin.ejs') %>
        <% } %>

        <% if (user.role == 'leader' || user.role == 'user') { %>
            <%- include ('partials/navigation_Leader.ejs') %>
        <% } %>

        <% if (user.role == 'viewer') { %>
            <%- include ('partials/navigation_Member.ejs') %>
        <% } %>

    <% } %>
</div>



<div class="container_ p-4">

    <%- include ('avatar.ejs') %>

    <h3 id="greeting"><%= user.name %></h3>
    <!-- <p style="color: black;"> ID: <%= user.id %></p> -->
      <p style="color: gray;"><%= user.role %></p>
    <!-- <p style="color: gray;"> Role: <%= user.role %> <br> Rank: <%= user.rank %> <br><%= user.list %></p> -->
    <!-- <p style="color: gray;"> <%= user.rank %> <br><%= user.list %></p> -->

    <!-- <h1 style="color: whitesmoke;">Jobs</h1> -->

    <% if (user.role == 'admin' || user.role == 'leader' || user.name == 'Camilo' || user.name == 'Johanna') { %>
        <a class="btn btn-warning btn-block my-2" href="/notes/add">New Job</a>
        <!-- <pre><%= notes %></pre> -->
    <% } %>


    <div class="row">

        <div class="accordion accordion-flush my-4 small" id="accordionExample">

            
            <% if (user.role == 'admin' || user.role == 'leader' || user.role == 'user' || user.role == 'viewer') { %>
                <div class="accordion-item">
                    <h2 class="accordion-header bg-dark">
                        <button class="accordion-button collapsed bg-dark" 
                                type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#collapseOne" 
                                aria-expanded="true" 
                                aria-controls="collapseOne">
                            <h4 style="color: white;">Not Started</h4>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show_" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-dark">
                            <table class="table table-hover _table-striped table-dark table-sm" style="color: gray;">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Q</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Vers.</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Wells</th>
                                        <!-- <th scope="col">Budget</th> -->
                                        <th scope="col">D.E</th>
                                        <th scope="col">Geo</th>
                                        <th scope="col">Rig</th>
                                        <!-- <th scope="col">Resp.</th> -->
                                        <!-- <th scope="col">Created</th> -->
                                        <th scope="col">Due</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% notes.forEach(note => { %>

                                        <% if (user.role == 'admin' || user.role == 'leader' || user.name == note.responsible || user.list == note.customer) { %> 

                                            <% if (note.status == 'Not Started') { %>

                                                <tr onclick="window.location.href='/notes/job/<%= note._id %>';">

                                                    <% if (note.title == "Execution") { %>
                                                        <tr style="color: green;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %>  
                                                    <% if (note.responsible == "Orphan") { %>
                                                        <tr style="color: white;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %>   
                                                    <% if (user.name == note.responsible) { %>
                                                        <tr style="color: red;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %>

                                                    <th scope="row">
                                                        <% if (user.role == 'admin' || user.role == 'leader') { %>
                                                            <% if (note.responsible == "Camilo") { %>
                                                                <span class="dotCamilo"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Johanna") { %>
                                                                <span class="dotJohanna"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Daniel") { %>
                                                                <span class="dotDaniel"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Pablo") { %>
                                                                <span class="dotPablo"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Sammy") { %>
                                                                <span class="dotSammy"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Polita") { %>
                                                                <span class="dotPolita"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "John") { %>
                                                                <span class="dotJohn"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Orphan") { %>
                                                                <span class="dotOrphan"></span>
                                                            <% } %>
                                                        <% } %> 

                                                        <small><%= note.mtxJobId %></small>
                                                    </th>

                                                    <td><%= count_NotStarted = count_NotStarted + 1 %></td>
                                                    <td><%= note.title %></td>                                                
                                                    <td><%= note.customerJobNumber %></td>
                                                    <td><%= note.project %></td>

                                                    <!-- <% if (user.name == note.responsible) { %>
                                                        <td style="color: red;"><%= note.project%></td>
                                                    <% } %>
                                                    <% if (user.name != note.responsible) { %>
                                                        <td><%= note.project %></td>
                                                    <% } %>  -->

                                                    <td><%= note.area %></td>
                                                    <td><%= note.wells %></td>
                                                    <!-- <td><%= note.budget %></td> -->
                                                    <td><%= note.poc %></td>
                                                    <td><%= note.geologist %></td>
                                                    <td><%= note.rig %></td>
                                                    <!-- <td><%= note.responsible %></td> -->
                                                    <!-- <td><small><%= note.created %></small></td> -->
                                                    <td><small><%= note.dueDate %></small></td>
                                                </tr>
                                            <% } %>                             
                                        <% } %>


                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } %>








            <% if (user.role == 'admin' || user.role == 'leader'|| user.role == 'user' || user.role == 'viewer') { %>
                <div class="accordion-item">
                    <h2 class="accordion-header bg-dark">
                        <button class="accordion-button collapsed bg-dark" 
                                type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#collapseTwo" 
                                aria-expanded="true" 
                                aria-controls="collapseTwo">
                            <h4 id="ID_InProgress" style="color:aqua;">In Progress</h4>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-dark">
                            <table class="table table-hover _table-striped table-dark _table-primary table-sm" style="color: gray;">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Q</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Vers.</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Wells</th>
                                        <!-- <th scope="col">Budget</th> -->
                                        <th scope="col">D.E</th>
                                        <th scope="col">Geo</th>
                                        <th scope="col">Rig</th>
                                        <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                                            <th scope="col">Resp.</th>
                                        <% } %> -->
                                        <!-- <th scope="col">Created</th> -->
                                        <th scope="col">Due</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% notes.forEach(note => { %>

                                        <% if ( user.role == 'admin' || 
                                                user.role == 'leader' || 
                                                user.name == note.responsible || 
                                                user.list == note.customer) { %>

                                                <% if (note.status == 'In Progress' 
                                                    && note.title != 'Exe-Review'
                                                    && note.title != 'Execution' 
                                                    && note.title != 'Exe-QC' 
                                                    && note.title != 'Exe-Vendor') { %>

                                                    <tr onclick="window.location.href='/notes/job/<%= note._id %>';">

                                                        <% if (note.responsible == "Orphan") { %>
                                                            <tr style="color: white;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                        <% } %>   
                                                        <% if (user.name == note.responsible) { %>
                                                            <tr style="color: red;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                        <% } %>   
                                                                                            
                                                        <th scope="row">
                                                            <% if (user.role == 'admin' || user.role == 'leader') { %>
                                                                <% if (note.responsible == "Camilo") { %>
                                                                    <span class="dotCamilo"></span>
                                                                <% } %>
                                                                <% if (note.responsible == "Johanna") { %>
                                                                    <span class="dotJohanna"></span>
                                                                <% } %>
                                                                <% if (note.responsible == "Daniel") { %>
                                                                    <span class="dotDaniel"></span>
                                                                <% } %>
                                                                <% if (note.responsible == "Pablo") { %>
                                                                    <span class="dotPablo"></span>
                                                                <% } %>
                                                                <% if (note.responsible == "Sammy") { %>
                                                                    <span class="dotSammy"></span>
                                                                <% } %>
                                                                <% if (note.responsible == "Polita") { %>
                                                                    <span class="dotPolita"></span>
                                                                <% } %>
                                                                <% if (note.responsible == "John") { %>
                                                                    <span class="dotJohn"></span>
                                                                <% } %>
                                                                <% if (note.responsible == "Orphan") { %>
                                                                    <span class="dotOrphan"></span>
                                                                <% } %>
                                                            <% } %> 
                                                            <small><%= note.mtxJobId %></small>
                                                        </th> 

                                                        <td><%= count_InProgress = count_InProgress + 1 %></td>

                                                        <td><%= note.title %></td>
                                                        <td><%= note.customerJobNumber %></td>
                                                        <td><%= note.project %></td>
                                                        <td><%= note.area %></td>
                                                        <td><%= note.wells %></td>
                                                        <!-- <td><%= note.budget %></td> -->
                                                        <td><%= note.poc %></td>
                                                        <td><%= note.geologist %></td>
                                                        <td><%= note.rig %></td>
                                                        <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                                                            <td><%= note.responsible %></td>
                                                        <% } %> -->
                                                        <!-- <td><small><%= note.created %></small></td> -->
                                                        <td><small><%= note.dueDate %></small></td>
                                                    </tr>
                                                <% } %>  
                                            <% } %> 
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } %>




            <!-- ----------------------------- -->


            <% if (user.role == 'admin' || user.role == 'leader'|| user.role == 'user') { %>
                <div class="accordion-item">
                    <h2 class="accordion-header bg-dark">
                        <button class="accordion-button collapsed bg-dark_" style="background-color: black;"
                                type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#collapseTwo" 
                                aria-expanded="true" 
                                aria-controls="collapseTwo">
                            <h4 style="color:red;">Execution</h4>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-dark">
                            <table class="table table-hover _table-striped table-dark _table-primary table-sm" style="color: gray;">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Vers.</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Wells</th>
                                        <th scope="col">D.E</th>
                                        <th scope="col">Geo</th>
                                        <th scope="col">Rig</th>
                                        <th scope="col">Due</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% notes.forEach(note => { %>
                                        <% if (user.role == 'admin' || user.role == 'leader' || 
                                            user.name == note.responsible || user.list == note.customer) { %>

                                            <% if ((note.status == 'In Progress')
                                            && (note.title == 'Exe-Review'
                                            || note.title == 'Execution'
                                            || note.title == 'Exe-QC'
                                            || note.title == 'Exe-Vendor')) { %>

                                                <tr onclick="window.location.href='/notes/job/<%= note._id %>';">

                                                    <% if (note.responsible == "Orphan") { %>
                                                        <tr style="color: white;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %>   
                                                    <% if (user.name == note.responsible) { %>
                                                        <tr style="color: red;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %>   
                                                                                        
                                                    <th scope="row">
                                                        <% if (user.role == 'admin' || user.role == 'leader') { %>
                                                            <% if (note.responsible == "Camilo") { %>
                                                                <span class="dotCamilo"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Johanna") { %>
                                                                <span class="dotJohanna"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Daniel") { %>
                                                                <span class="dotDaniel"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Pablo") { %>
                                                                <span class="dotPablo"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Sammy") { %>
                                                                <span class="dotSammy"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Polita") { %>
                                                                <span class="dotPolita"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "John") { %>
                                                                <span class="dotJohn"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Orphan") { %>
                                                                <span class="dotOrphan"></span>
                                                            <% } %>
                                                        <% } %> 

                                                        <small><%= note.mtxJobId %></small>
                                                    </th>
                                                     
                                                    <td><%= note.title %></td>
                                                    <td><%= note.customerJobNumber %></td>
                                                    <td><%= note.project %></td>
                                                    <td><%= note.area %></td>
                                                    <td><%= note.wells %></td>
                                                    <!-- <td><%= note.budget %></td> -->
                                                    <td><%= note.poc %></td>
                                                    <td><%= note.geologist %></td>
                                                    <td><%= note.rig %></td>
                                                    <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                                                        <td><%= note.responsible %></td>
                                                    <% } %> -->
                                                    <!-- <td><small><%= note.created %></small></td> -->
                                                    <td><small><%= note.dueDate %></small></td>
                                                </tr>
                                            <% } %>  
                                        <% } %>                   
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } %>




            <!-- ----------------------------- -->


            <% if (user.role == 'admin' || user.role == 'leader') { %>
                <div class="accordion-item">
                    <h2 class="accordion-header bg-dark">
                        <button class="accordion-button collapsed bg-dark" 
                                type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#collapseThree" 
                                aria-expanded="true" 
                                aria-controls="collapseThree">
                            <h4 style="color: grey;">On Hold</h4>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse show_" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-dark">
                            <table class="table table-hover _table-striped _table-danger table-dark table-sm" style="color: gray;">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Vers.</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Wells</th>
                                        <!-- <th scope="col">Budget</th> -->
                                        <th scope="col">D.E</th>
                                        <th scope="col">Geo</th>
                                        <th scope="col">Rig</th>
                                        <!-- <th scope="col">Resp.</th> -->
                                        <!-- <th scope="col">Created</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% notes.forEach(note => { %>
                                        <% if (user.role == 'admin' || user.role == 'leader' || user.name == note.responsible || user.list == note.customer) { %>
                                            <% if (note.status == 'On Hold') { %>

                                                <tr onclick="window.location.href='/notes/job/<%= note._id %>';">

                                                    <% if (note.title == "Execution") { %>
                                                        <tr style="color: green;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %>  
                                                    <% if (note.responsible == "Orphan") { %>
                                                        <tr style="color: white;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %>   
                                                    <% if (user.name == note.responsible) { %>
                                                        <tr style="color: red;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %> 

                                                    <th scope="row"><small><%= note.mtxJobId %></small></th>
                                                    <td><%= note.title %></td>
                                                    <td><%= note.customerJobNumber %></td>
                                                    <td><%= note.project %></td>
                                                    <td><%= note.area %></td>
                                                    <td><%= note.wells %></td>
                                                    <!-- <td><%= note.budget %></td> -->
                                                    <td><%= note.poc %></td>
                                                    <td><%= note.geologist %></td>
                                                    <td><%= note.rig %></td>
                                                    <!-- <td><%= note.responsible %></td> -->
                                                    <!-- <td><small><%= note.created %></small></td> -->
                                                </tr>
                                            <% } %> 
                                        <% } %>                    
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } %>





            <% if (user.role == 'admin' || user.role == 'leader' || user.role == '_user') { %>
                <div class="accordion-item">
                    <h2 class="accordion-header bg-dark">
                        <button class="accordion-button collapsed bg-dark" 
                                type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#collapseFour" 
                                aria-expanded="true" 
                                aria-controls="collapseFour">
                            <h4 style="color: orange;">QA/QC</h4>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse show_" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-dark table-sm">
                            <table class="table table-hover _table-striped _table-warning table-dark" style="color: gray;">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Vers.</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Wells</th>
                                        <!-- <th scope="col">Budget</th> -->
                                        <th scope="col">D.E</th>
                                        <th scope="col">Geo</th>
                                        <th scope="col">Rig</th>
                                        <!-- <th scope="col">Resp.</th> -->
                                        <!-- <th scope="col">Created</th> -->
                                        <th scope="col">Due</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% notes.forEach(note => { %>
                                        <% if (user.role == 'admin' || user.role == 'leader' || user.name == note.responsible || user.list == note.customer) { %>
                                            <% if (note.status == 'QA/QC') { %>
                                                <tr onclick="window.location.href='/notes/job/<%= note._id %>';">

                                                    <!-- <% if (note.title == "Execution") { %>
                                                        <tr style="color: green;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %>   -->
                                                    <% if (note.responsible == "Orphan") { %>
                                                        <tr style="color: white;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %>   
                                                    <% if (user.name == note.responsible) { %>
                                                        <tr style="color: red;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %> 

                                                    <th scope="row">

                                                        <% if (user.role == 'admin' || user.role == 'leader') { %>
                                                            <% if (note.responsible == "Camilo") { %>
                                                                <span class="dotCamilo"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Johanna") { %>
                                                                <span class="dotJohanna"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Daniel") { %>
                                                                <span class="dotDaniel"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Pablo") { %>
                                                                <span class="dotPablo"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Sammy") { %>
                                                                <span class="dotSammy"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Polita") { %>
                                                                <span class="dotPolita"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "John") { %>
                                                                <span class="dotJohn"></span>
                                                            <% } %>
                                                            <% if (note.responsible == "Orphan") { %>
                                                                <span class="dotOrphan"></span>
                                                            <% } %>
                                                        <% } %> 
                                                        
                                                        <small><%= note.mtxJobId %></small>
                                                    </th>

                                                    <td><%= note.title %></td>
                                                    <td><%= note.customerJobNumber %></td>
                                                    <td><%= note.project %></td>
                                                    <td><%= note.area %></td>
                                                    <td><%= note.wells %></td>
                                                    <!-- <td><%= note.budget %></td> -->
                                                    <td><%= note.poc %></td>
                                                    <td><%= note.geologist %></td>
                                                    <td><%= note.rig %></td>
                                                    <!-- <td><%= note.responsible %></td> -->
                                                    <!-- <td><small><%= note.created %></small></td> -->
                                                    <td><small><%= note.dueDate %></small></td>
                                                </tr>
                                            <% } %>  
                                        <% } %>                   
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } %>






            <% if (user.role == 'admin' || user.role == 'leader') { %>
                <div class="accordion-item">
                    <h2 class="accordion-header bg-dark">
                        <button class="accordion-button collapsed bg-dark" 
                                type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#collapseFive" 
                                aria-expanded="true" 
                                aria-controls="collapseFive">
                            <h4 style="color:chartreuse;">Completed</h4>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse show_" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-dark table-sm">
                            <table class="table table-hover _table-striped table-dark" style="color: greenyellow;">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Vers.</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Wells</th>
                                        <!-- <th scope="col">Budget</th> -->
                                        <th scope="col">D.E</th>
                                        <th scope="col">Geo</th>
                                        <th scope="col">Rig</th>
                                        <!-- <th scope="col">Resp.</th> -->
                                        <!-- <th scope="col">Created</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% notes.forEach(note => { %>
                                        <% if (user.role == 'admin' || user.role == 'leader' || user.name == note.responsible || user.list == note.customer) { %>
                                            <% if (note.status == 'Completed') { %>
                                                <tr onclick="window.location.href='/notes/job/<%= note._id %>';">

                                                    <!-- <% if (user.name == note.responsible) { %>
                                                        <tr style="color: blue;" onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <% } %> -->

                                                    <th scope="row"><small><%= note.mtxJobId %></small></th>
                                                    <td><%= note.title %></td>
                                                    <td><%= note.customerJobNumber %></td>
                                                    <td><%= note.project %></td>
                                                    <td><%= note.area %></td>
                                                    <td><%= note.wells %></td>
                                                    <!-- <td><%= note.budget %></td> -->
                                                    <td><%= note.poc %></td>
                                                    <td><%= note.geologist %></td>
                                                    <td><%= note.rig %></td>
                                                    <!-- <td><%= note.responsible %></td> -->
                                                    <!-- <td><small><%= note.created %></small></td> -->
                                                </tr>
                                            <% } %> 
                                        <% } %>                   
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } %>







            <% if (user.role == 'admin' && (user.name == "John" || user.name == "Polita")) { %>
                <div class="accordion-item">
                    <h2 class="accordion-header bg-dark">
                        <button class="accordion-button collapsed bg-dark" 
                                type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#collapseSix" 
                                aria-expanded="true" 
                                aria-controls="collapseSix">
                            <h4 style="color: black;">Archived</h4>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse show_" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-dark">
                            <table class="table table-hover table-striped table-dark table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Cust.</th>
                                        <th scope="col">C.ID</th>
                                        <th scope="col">Project</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Wells</th>
                                        <!-- <th scope="col">Budget</th> -->
                                        <th scope="col">D.E</th>
                                        <th scope="col">Geo</th>
                                        <th scope="col">Rig</th>
                                        <!-- <th scope="col">Resp.</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <% notes.forEach(note => { %>
                                        <% if (user.role == 'admin' || user.name == note.responsible || user.list == note.customer) { %>
                                            <% if (note.status == 'Billed' || note.status == 'Archived') { %>
                                                <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                                    <th scope="row"><small><%= note.mtxJobId %></small></th>
                                                    <td><%= note.title %></td>
                                                    <td><%= note.customer %></td>
                                                    <td><%= note.customerJobNumber %></td>
                                                    <td><%= note.project %></td>
                                                    <td><%= note.area %></td>
                                                    <td><%= note.wells %></td>
                                                    <!-- <td><%= note.budget %></td> -->
                                                    <td><%= note.poc %></td>
                                                    <td><%= note.geologist %></td>
                                                    <td><%= note.rig %></td>
                                                    <!-- <td><%= note.responsible %></td> -->
                                                    <!-- <td><small><%= note.dueDate %></small></td> -->
                                                </tr>
                                            <% } %> 
                                        <% } %>                    
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            <% } %>







            <% if (user.role == 'admin' || user.role == 'leader' || user.role == 'user' || user.role == 'viewer') { %>
                <div class="accordion-item">
                    <h2 class="accordion-header bg-dark">
                        <button class="accordion-button collapsed bg-dark" 
                                type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#collapseSchedule" 
                                aria-expanded="true"
                                aria-controls="collapseSchedule">
                            <h4 style="color: blue;">Schedule</h4>
                        </button>
                    </h2>
                    <div id="collapseSchedule" class="accordion-collapse collapse show_" data-bs-parent="#accordionExample">
                        <div class="accordion-body bg-dark">
                            <div class="accordion mb-4" id="accordionExample">
                                <div class="accordion-item bg-dark border-0">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" 
                                            type="button" 
                                            data-bs-toggle="collapse" 
                                            style="background-color: #1a1a1a; color: #ffffff;" 
                                            data-bs-target="#collapseTable" 
                                            aria-expanded="true"
                                            aria-controls="collapseTable">
                                            📋 Table
                                        </button>
                                    </h2>
                                    <div id="collapseTable" class="accordion-collapse collapse _show" aria-labelledby="headingOne">
                                        <div class="accordion-body">
                                            <table 
                                                id="csvTable" 
                                                class="table table-dark table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Rig</th>
                                                        <th>DP</th>
                                                        <th>Type</th>
                                                        <th>Duration</th>
                                                        <th>VP</th>
                                                        <th>Start</th>
                                                        <th>Site</th>
                                                        <th>Well</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% schedule.forEach(item => { %>
                                                        <tr>
                                                        <td><%= item.rig %></td>
                                                        <td><%= item.dp %></td>
                                                        <td><%= item.type %></td>
                                                        <td><%= item.duration %></td>
                                                        <td><%= item.vp %></td>
                                                        <td><%= item.start %></td>
                                                        <td><%= item.site %></td>
                                                        <td><%= item.well %></td>
                                                        </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>

        </div>
    </div>

    <% if (user.role == 'admin' || user.role == 'leader' || user.role == 'user' || user.role == 'viewer') { %>
        <div id="chartDiv" class="m-3 bg-dark"></div>
    <% } %>

</div>







<!-- Script to generate the Charts -->

    <script>
        let chartInstances = [];

        function parseDate(value) {
            const parsed = Date.parse(value);
            if (!isNaN(parsed)) return new Date(parsed);
            return null;
        }

        function renderChartsFromTable() {
            const table = document.getElementById("csvTable");
            const rows = Array.from(table.querySelectorAll("tbody tr"));

            const vpMap = {};
            rows.forEach(row => {
                const cells = row.querySelectorAll("td");
                const rig = cells[0]?.innerText.trim();
                const dp = cells[1]?.innerText.trim();
                const type = cells[2]?.innerText.trim();
                const duration = Number(cells[3]?.innerText.trim() || 0);
                const vp = cells[4]?.innerText.trim();
                const start = parseDate(cells[5]?.innerText.trim());
                const site = cells[6]?.innerText.trim();
                const well = cells[7]?.innerText.trim();

                if (!start) return;
                if (!vpMap[vp]) vpMap[vp] = {};
                if (!vpMap[vp][rig]) vpMap[vp][rig] = [];
                vpMap[vp][rig].push({ rig, dp, type, duration, vp, start, site, well });
            });

            const today = new Date();
            const twoMonthsLater = new Date(today.getFullYear(), today.getMonth() + 2, today.getDate());
            const threeMonthsLater = new Date(today.getFullYear(), today.getMonth() + 3, today.getDate());
            const sixMonthsLater = new Date(today.getFullYear(), today.getMonth() + 6, today.getDate());
            const oneYearLater = new Date(today.getFullYear() + 1, today.getMonth(), today.getDate());

            const chartDiv = document.getElementById("chartDiv");
            chartDiv.innerHTML = "";

            Object.keys(vpMap).forEach(vp => {
            const rigs = Object.keys(vpMap[vp]);
            const datasets = [];
            const colors = [];
            const colorCounts = { blue: 0, red: 0, green: 0, yellow: 0 };

            rigs.forEach(rig => {
                vpMap[vp][rig].forEach(siteObj => {
                const end = new Date(siteObj.start.getTime() + siteObj.duration * 86400000);
                const dpValue = siteObj.dp || "";
                const isEmptyDP = !dpValue || dpValue === "***";
                const type = siteObj.type;

                datasets.push({
                    y: rig,
                    x: [siteObj.start, end],
                    site: siteObj.site.substring(0, 5),
                    details: {
                    Rig: rig,
                    VP: vp,
                    Start: siteObj.start.toLocaleDateString(),
                    Duration: siteObj.duration,
                    DP: dpValue,
                    Site: siteObj.site,
                    Well: siteObj.well,
                    type: type
                    }
                });

                if (!isEmptyDP && (type === "EXEC" || type === "PRELIM-IR" || type === "PRELIM")) {
                    colors.push("#0084c7"); // Blue
                    colorCounts.blue++;
                } else if (isEmptyDP && (type === "EXEC" || type === "PRELIM-IR" || type === "PRELIM" || type === "")) {
                    colors.push("#ff4c4c"); // Red
                    colorCounts.red++;
                } else if (type === "FINAL") {
                    colors.push("#4caf50"); // Green
                    colorCounts.green++;
                } else {
                    colors.push("#ffff00"); // Yellow fallback
                    colorCounts.yellow++;
                }
                });
            });

            // VP title
            const title = document.createElement("h3");
            title.textContent = `VP: ${vp}`;
            title.style.color = "white";
            chartDiv.appendChild(title);

            // Date boundaries
            const minDate = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 7);
            const maxDate = oneYearLater;

            // Canvas for Gantt
            const canvas = document.createElement("canvas");
            canvas.height = Math.max(200, rigs.length * 40);
            chartDiv.appendChild(canvas);

            const ctx = canvas.getContext("2d");
            const chart = new Chart(ctx, {
                type: "bar",
                data: {
                datasets: [{
                    label: "Schedule",
                    data: datasets,
                    backgroundColor: colors,
                    borderRadius: 6,
                    borderSkipped: false,
                    borderColor: "#000",
                    borderWidth: 1,
                    parsing: { xAxisKey: "x", yAxisKey: "y" }
                }]
                },
                options: {
                indexAxis: "y",
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                    x: {
                    type: "time",
                    time: { unit: "day", stepSize: 1, tooltipFormat: "dd-MMM-yyyy", displayFormats: { day: "dd-MMM" } },
                    min: today,
                    max: oneYearLater,
                    ticks: { color: "#ccc" },
                    grid: { color: "#333" }
                    },
                    y: {
                    type: "category",
                    labels: rigs,
                    ticks: { color: "#ccc", font: { weight: "bold" } },
                    grid: { color: "#333" }
                    }
                },
                plugins: {
                    legend: { display: false },
                    tooltip: {
                    callbacks: {
                        label: (ctx) => {
                        const d = ctx.raw.details;
                        return [
                            `Rig: ${d.Rig}`,
                            `VP: ${d.VP}`,
                            `Start: ${d.Start}`,
                            `Duration: ${d.Duration} days`,
                            `DP: ${d.DP}`,
                            `Site: ${d.Site}`,
                            `Well: ${d.Well}`,
                            `Type: ${d.type}`
                        ];
                        }
                    }
                    },
                    datalabels: {
                    anchor: "center",
                    align: "center",
                    color: "#000",
                    font: { weight: "bold" },
                    formatter: (value) => value.site
                    },
                    annotation: {
                    annotations: {
                        futureBox: {
                        type: "box",
                        xMin: twoMonthsLater,
                        xMax: threeMonthsLater,
                        backgroundColor: "rgba(255,0,0,0.15)",
                        borderWidth: 0.5,
                        borderColor: "red"
                        },
                        todayLine: {
                        type: "line",
                        xMin: today,
                        xMax: today,
                        borderColor: "red",
                        borderWidth: 2,
                        label: { enabled: true, content: "Today", position: "start", color: "red" }
                        }
                    }
                    },
                    zoom: {
                        zoom: { wheel: { enabled: true }, pinch: { enabled: true }, mode: "x" },
                        pan: { enabled: true, mode: "x" },
                        limits: { x: { min: minDate, max: maxDate } }
                    }
                },
                barThickness: 18,
                onClick: (event, elements) => {
                    if (elements.length > 0) {
                        const elementIndex = elements[0].index;
                        const datasetIndex = elements[0].datasetIndex;
                        const clickedBar = chart.data.datasets[datasetIndex].data[elementIndex];
                        if (clickedBar && clickedBar.details) {
                            let project = clickedBar.details.Site.slice(0,14);
                            // alert(`Site: ` + project);
                            // window.location.href=`/notes/findSite/${project}`;
                            window.location.href = `/notes/findSite/${encodeURIComponent(project)}`;
                        }
                    }
                }
                },
                plugins: [ChartDataLabels]
            });

            chartInstances.push(chart);

            // -------------------------
            // 📊 Summary Table + Pie
            // -------------------------
            const totalBars = colorCounts.blue + colorCounts.red + colorCounts.green + colorCounts.yellow;

            const summaryTable = document.createElement("table");
            summaryTable.className = "table table-dark table-sm table-bordered mt-2";
            summaryTable.innerHTML = `
                <thead>
                <tr>
                    <th style="background-color:#0084c7">Done</th>
                    <th style="background-color:#ff4c4c">In-Progress</th>
                    <th style="background-color:#4caf50">Sent</th>
                    <th style="color:#1a1a1a; background-color:#ffff00">Need Info.</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>${colorCounts.blue}</td>
                    <td>${colorCounts.red}</td>
                    <td>${colorCounts.green}</td>
                    <td>${colorCounts.yellow}</td>
                    <td><b>${totalBars}</b></td>
                </tr>
                </tbody>
            `;
            chartDiv.appendChild(summaryTable);

            // Pie Chart
            const pieCanvas = document.createElement("canvas");
            pieCanvas.style.maxWidth = "300px";
            pieCanvas.style.maxHeight = "300px";
            pieCanvas.className = "mb-4";
            chartDiv.appendChild(pieCanvas);

            new Chart(pieCanvas.getContext("2d"), {
                type: "pie",
                data: {
                labels: ["Done", "In-progress", "Sent", "Need Info."],
                datasets: [{
                    data: [colorCounts.blue, colorCounts.red, colorCounts.green, colorCounts.yellow],
                    backgroundColor: ["#0084c7", "#ff4c4c", "#4caf50", "#ffff00"],
                    borderColor: "#222",
                    borderWidth: 1
                }]
                },
                options: {
                plugins: {
                    legend: { position: "bottom", labels: { color: "#fff" } },
                    datalabels: {
                    color: "#000",
                    font: { weight: "bold" },
                    formatter: (value, ctx) => {
                        let total = ctx.chart.data.datasets[0].data.reduce((a, b) => a + b, 0);
                        return total > 0 ? (value / total * 100).toFixed(1) + "%" : "0%";
                    }
                    }
                }
                },
                plugins: [ChartDataLabels]
            });
            });
        }

        window.addEventListener("DOMContentLoaded", renderChartsFromTable);

    </script>
                                


<%- include ('partials/footer.ejs') %>

<!--  -->