
<%- include ('partials/header.ejs') %>


<div id="navbar" class="p-2">   
    <% if (user.name != 'Guest') { %>
        <% if (user.id == '62ac0c8d2cbdfe3c9c4b4f38') { %>
            <%- include ('partials/navigation_Admin.ejs') %>
        <% } else { %>
            <%- include ('partials/navigation_Member.ejs') %>
        <% } %>
    <% } %>
</div>

<div class="col-md-4 mx-auto my-4">

    <!-- <% if (user == '62ac0c8d2cbdfe3c9c4b4f38') { %>
        <pre>user: <%= user %> </pre>
        <pre><%= note %></pre>
    <% } %> -->

    <div class="col -md-6 mx-auto">

        <div class="card">

            <div class="card-header bg-dark"><h2>Edit Note</h2></div>

            <div class="card-body bg-primary">

                <form action="/note/edit/<%=note._id%>?_method=put" method="post">


                    <div class="form-group">

                        <input 
                            type="text" 
                            name="mtxJobId"
                            class="form-control mb-2 bg-dark text-white"
                            placeholder="MTX Job ID"
                            id="MTXjobNumber"
                            value="<%= note.mtxJobId %>"
                            readonly
                        >
    
    
                        <input 
                            type="text" 
                            name="title"
                            class="form-control mb-2 bg-dark text-white"
                            placeholder="Title"
                            autofocus
                            value="<%= note.title %>"
                        >
    
    
    
                        <div class="form-group mb-2">
                            <div class="form-group mb-2">
                                <div class="input-group mb-2">
                                    <span class="input-group-text bg-dark text-white">Responsible</span>
                                    <select class="form-select bg-dark text-white" 
                                            id="responsible" 
                                            fdprocessedid="5cv5ue"
                                            name="responsible"
                                        > 
                                        <option><%= note.responsible %></option>
                                        <option>Polita</option>
                                        <option>John</option>
                                        <option>Ricardo</option>
                                        <option>Efrain</option>
                                    </select>
                                </div>
                            </div>
                        </div>
    
    
    
                        <textarea 
                            name="description" 
                            id="description" 
                            placeholder="Description"
                            class="form-control mb-2 bg-dark text-white"
                            style="height: 500px;"
                        ><%= note.description %></textarea>
    
    
    
                        <div class="form-group mb-2">
                            <div class="form-group mb-2">
                                <div class="input-group">
                                    <span class="input-group-text bg-dark text-white">Priority</span>
                                    <select class="form-select bg-dark text-white" 
                                            id="priority" 
                                            fdprocessedid="5cv5ue"
                                            name="priority"
                                        >
                                        <option><%= note.priority %></option>
                                        <option>Extreme</option>
                                        <option>High</option>
                                        <option>Medium</option>
                                        <option>Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
    
    
    
                        <div class="input-group mb-2 bg-dark text-white">
                            <span class="input-group-text bg-dark text-white" id="basic-addon1">Due Date</span>
                            <input type="date"
                                id="dueDate" 
                                name="dueDate"
                                class="form-control bg-dark text-white"
                                value="<%= note.dueDate %>"
                            >
                        </div>
    
                        
    
                        <div class="form-group mb-2">
                            <div class="form-group mb-2">
                                <div class="input-group mb-2">
                                    <span class="input-group-text bg-dark text-white">Invoice</span>
                                    <select class="form-select bg-dark text-white" 
                                            id="invoice" 
                                            fdprocessedid="5cv5ue"
                                            name="invoice"
                                        >
                                        <option><%= note.invoice %></option>
                                        <option>Yes</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
    
    
    
                        <div class="form-group">
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <span class="input-group-text bg-dark text-white">Status</span>
                                    <select class="form-select bg-dark text-white" 
                                            id="status" 
                                            fdprocessedid="5cv5ue"
                                            name="status"
                                        >
                                        <option><%= note.status %></option>
                                        <option>Not Started</option>
                                        <option>In Progress</option>
                                        <option>Completed</option>
                                        <option>On Hold</option>
                                        <option>QA/QC</option>
                                        <% if (user.id == '62ac0c8d2cbdfe3c9c4b4f38' || user.id == '62f2aa034552be31b8c7ae75') { %>
                                            <option>Billed</option>
                                            <option>Archived</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>    
    
                    </div>                 
         

                    <div class="form-group mb-2"><button class="btn btn-success btn-block" type="submit">Save</button></div> 

                </form>
            </div>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>