
<%- include ('partials/header.ejs') %>

<script>
    document.title =  'ID<%= note.mtxJobId %> - <%= note.customerJobNumber %>';
</script>


    <div id="navbar" class="p-2">

        <% if (user.name !='Guest' ) { %>

            <% if (user.role=='admin' ) { %>
                <%- include ('partials/navigation_Admin.ejs') %>
            <% } %>

            <% if (user.role=='leader' ) { %>
                <%- include ('partials/navigation_Admin.ejs') %>
            <% } %>

            <% if (user.role=='_user' ) { %>
                <%- include ('partials/navigation_Member.ejs') %>
            <% } %>

            <% if (user.role=='viewer' ) { %>
                <%- include ('partials/navigation_Member.ejs') %>
            <% } %>

        <% } %>
    </div>

    <!-- <pre><%= note.createdAt %></pre> -->


    <div class="col-md-12 mx-auto my-4">

        <div class="col -md-6 mx-auto">

            <div class="card">

                <div class="card-header bg-dark">
                    <h2>Edit</h2>
                </div>

                <div class="_container" id="mainContainer">

                    <div class="row m-2">

                        <form action="/upload/<%= note._id %>" method="POST" enctype="multipart/form-data">

                            <div class="card mb-3" style="background-color: #483D8B;">
                                <div class="card-body">
                                    <p class="card-text">Select a picture for ID: <%= note.mtxJobId %></p>
                                    <div class="input-group _mb-2">
                                        <input 
                                            _style="background-color: black;"
                                            type="file" 
                                            name="image" 
                                            class="form-control mb-2 bg-dark text-white" 
                                            id="inputGroupFile02"
                                        >
                                        <div class="input-group mb-2" hidden>
                                            <span class="input-group-text bg-dark text-white">Image URL</span>
                                            <input 
                                                value="<%= note.path %>" 
                                                readonly
                                                type="text"
                                                id="imageURL"
                                                class="form-control bg-dark text-white" 
                                            >
                                        </div>
                                        <div class="input-group mb-2" hidden>
                                            <span class="input-group-text bg-dark text-white">Image Public ID</span>
                                            <input 
                                                value="<%= note.imageID %>" 
                                                readonly
                                                type="text"
                                                id="imageID"
                                                class="form-control bg-dark text-white" 
                                            >
                                        </div>
                                        <div class="input-group mb-2" hidden>
                                            <span class="input-group-text bg-dark text-white">Note Image ID</span>
                                            <input 
                                                value="<%= note.noteImageID %>" 
                                                readonly
                                                type="text"
                                                id="noteImageID"
                                                class="form-control bg-dark text-white" 
                                            >
                                        </div>
                                        <div class="input-group mb-2" hidden>
                                            <span class="input-group-text bg-dark text-white">Note ID</span>
                                            <input 
                                                value="<%= note._id %>" 
                                                readonly
                                                type="text"
                                                id="noteId" 
                                                name="noteId" 
                                                class="form-control bg-dark text-white"
                                                placeholder="Note ID" 
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="container text-center">
                                <div class="row row-cols-2">
                                    <button 
                                        class="btn btn-success my-2" 
                                        type="submit" 
                                        id="uploadButton" 
                                        hidden
                                        >Upload
                                    </button>
                                    <a 
                                        href="/image/remove/<%= note._id %>" 
                                        class="btn btn-danger btn-block my-2" 
                                        id="removeButton"
                                        _hidden
                                        >Remove
                                    </a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>




                <div class="card-body bg-primary">                    

                    <form action="/note/edit/<%=note._id%>?_method=put" method="post">

                        <div class="form-group">

                            <div class="form-group mb-2">
                                <button class="btn btn-success btn-block" type="submit">Save</button>
                                <a href="/notes" class="btn btn-primary btn-block my-2">Back</a>
                            </div>

                            <% if (user.role == 'admin' || user.role == 'leader') { %>

                                <div _style="font-size: xx-small;">
                                    <% if (note.responsible == "Johanna") { %>
                                        <span class="dotJohanna"></span>
                                    <% } %>
                                    <% if (note.responsible == "Daniel") { %>
                                        <span class="dotDaniel"></span>
                                    <% } %>
                                    <% if (note.responsible == "Pablo") { %>
                                        <span class="dotPablo"></span>
                                    <% } %>
                                    <% if (note.responsible == "Sammy") { %>
                                        <span class="dotSammy"></span>
                                    <% } %>
                                    <% if (note.responsible == "Polita") { %>
                                        <span class="dotPolita"></span>
                                    <% } %>
                                    <% if (note.responsible == "John") { %>
                                        <span class="dotJohn"></span>
                                    <% } %>
                                </div>

                            <% } %>

                            <input 
                                type="text" 
                                name="mtxJobId" 
                                class="form-control mb-2 bg-dark text-white"
                                placeholder="MTX Job ID" 
                                id="MTXjobNumber" 
                                value="<%= note.mtxJobId %>" 
                                readonly
                            >



                            <div class="input-group mb-2" hidden>
                                <span class="input-group-text bg-dark text-white">Image URL</span>
                                <input 
                                    value="<%= note.path %>" 
                                    readonly
                                    type="text"
                                    id="imageURL"
                                    class="form-control bg-dark text-white" 
                                >
                            </div>



                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">Task</span>
                                <select class="form-select bg-dark text-white" 
                                        id="title"
                                        name="title"
                                        value=<%= note.title %>
                                        _onchange=cambio_title()
                                    >
                                    <option><%= note.title %></option>
                                    <option>ETS</option>
                                    <option>Exe-QC</option>
                                    <option>Exe-Vendor</option>
                                    <option>Exe-Review</option>
                                    <option>Hydraulics</option>
                                    <option>Meeting</option>
                                    <option>Offsets</option>
                                    <option>Offsets+Subject</option>
                                    <option>Others</option>
                                    <option>Planning</option>
                                    <option>Reports</option>
                                    <option>Req.Info</option>
                                    <option>Revision</option>
                                    <option>Subject</option>
                                    <option>SurveyMng</option>
                                    <option>T&D</option>
                                    <option>Training</option>
                                </select>
                            </div>





                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">Responsible</span>
                                <select class="form-select bg-dark text-white" 
                                    id="responsible" 
                                    name="responsible" 
                                    _onchange=cambio_responsible()>
                                    <% if (user.role == 'admin' || user.role == 'leader') { %>   
                                        <option><%= note.responsible %></option>
                                        <%- include ('partials/optionsPeople.ejs') %>  
                                    <% } %>
                                    <% if (user.name == 'Johanna' || user.name == 'Camilo') { %>   
                                        <option><%= user.name %></option>
                                        <option>John</option>
                                        <option>Polita</option>
                                        <option>Johanna</option>
                                        <option>Camilo</option>
                                        <option>Orphan</option>   
                                    <% } %>
                                </select>
                            </div>





                            
                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">Customer</span>
                                <input value="<%= note.customer %>" 
                                    type="text" name="customer"
                                    class="form-control _mb-2 bg-dark text-white" 
                                    placeholder="Customer" 
                                    _onchange=cambio_customer()>
                            </div>
                            


                            
                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">Job # / Plan Version</span>
                                <input value="<%= note.customerJobNumber %>" 
                                    type="text" 
                                    name="customerJobNumber"
                                    class="form-control _mb-2 bg-dark text-white" 
                                    placeholder="Customer Job Number" 
                                    _onchange=cambio_customerJobNumber()>
                            </div>



                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">Operator</span>
                                <input value="<%= note.operator %>" 
                                    type="text" 
                                    name="operator"
                                    class="form-control _mb-2 bg-dark text-white" 
                                    placeholder="Operator" 
                                    _onchange=cambio_operator()>
                            </div>


                            
                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">Rig</span>
                                <input value="<%= note.rig %>" 
                                    type="text" 
                                    name="rig"
                                    class="form-control bg-dark text-white" 
                                    placeholder="Rig" 
                                    _onchange=cambio_rig()>
                            </div>
                            

                            
                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">Project / Site</span>
                                <input value="<%= note.project %>" 
                                    type="text" name="project"
                                    class="form-control bg-dark text-white" 
                                    placeholder="Project / Site" 
                                    _onchange=cambio_project()>
                            </div>
                            


                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">Area</span>
                                <input value="<%= note.area %>" 
                                    type="text" name="area"
                                    class="form-control bg-dark text-white" 
                                    placeholder="Area">
                            </div>



                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">Wells</span>
                                <input value="<%= note.wells %>" 
                                    type="text" name="wells"
                                    class="form-control bg-dark text-white" 
                                    placeholder="Wells #">
                            </div>

                            

                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">Budget</span>
                                <input value="<%= note.budget %>" 
                                    type="text" 
                                    name="budget"
                                    class="form-control bg-dark text-white" 
                                    placeholder="Budget">
                            </div>



                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">D.E</span>
                                <input value="<%= note.poc %>" 
                                    type="text" name="poc"
                                    class="form-control bg-dark text-white" 
                                    placeholder="Drilling Engineer" 
                                    _onchange=cambio_poc()>
                            </div>



                            <div class="input-group mb-2">
                                <span class="input-group-text bg-dark text-white">Geo</span>
                                <input value="<%= note.geologist %>" 
                                    type="text" 
                                    name="geologist"
                                    class="form-control bg-dark text-white" 
                                    placeholder="Geologist">
                            </div>



                            <div class="form-group mb-2">
                                <div class="input-group">
                                    <span class="input-group-text bg-dark text-white">Priority</span>
                                    <select class="form-select bg-dark text-white" id="priority" 
                                        _onchange=cambio_priority()
                                        name="priority">
                                        <option>
                                            <%= note.priority %>
                                        </option>
                                        <option>Extreme</option>
                                        <option>High</option>
                                        <option>Medium</option>
                                        <option>Low</option>
                                    </select>
                                </div>
                            </div>


                            
                                <div class="input-group mb-2 bg-dark text-white">
                                    <span class="input-group-text bg-dark text-white">Created</span>
                                    <input type="date" 
                                        id="created" 
                                        name="created" 
                                        class="form-control bg-dark text-white"
                                        value="<%= note.created %>">
                                </div>
                            



                            <div class="input-group mb-2 bg-dark text-white">
                                <span class="input-group-text bg-dark text-white">Due Date</span>
                                <input type="date" 
                                    id="dueDate" 
                                    name="dueDate" 
                                    class="form-control bg-dark text-white"
                                    value="<%= note.dueDate %>">
                            </div>



                            <% if (user.role == 'admin' || user.role == 'leader') { %>
                                <div class="form-group mb-2">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text bg-dark text-white">Invoice</span>
                                        <select class="form-select bg-dark text-white" 
                                            id="invoice" 
                                            name="invoice" 
                                            _onchange=cambio_invoice()>
                                            <option><%= note.invoice %></option>
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                    </div>
                                </div>
                            <% } %>



                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <span class="input-group-text bg-dark text-white">Status</span>
                                    <select class="form-select bg-dark text-white" 
                                        id="status" 
                                        name="status" 
                                        _onchange=cambio_status()>
                                        <option><%= note.status %></option>
                                        <option>Not Started</option>
                                        <option>In Progress</option>
                                        <option>Completed</option>
                                        <option>On Hold</option>
                                        <option>QA/QC</option>
                                        <option>Archived</option>
                                        <% if (user.role=='admin' ) { %>
                                            <option>Billed</option>
                                            <!-- <option>Archived</option> -->
                                            <% } %>
                                    </select>
                                </div>
                            </div>





                            <div class="form-group mb-2">
                                <button class="btn btn-success btn-block" type="submit">Save</button>
                                <a href="/notes" class="btn btn-primary btn-block my-2">Back</a>
                            </div>












                            <!---------------------------- WORK FLOW ----------------------------->

                            

                            <div class="card mb-3 border-0">

                                <div class="card-body" style="background-color: blue;">



                                    <h5 class="card-title">Work Flow</h5>   
                                        
                                        


                                        <div class="input-group mb-2">
                                            <span class="input-group-text bg-dark text-white" style="width: 40%;">Initial Info</span>
                                            <select class="form-select bg-dark text-white" id="checkInitialInfo" 
                                                name="checkInitialInfo" style="width: 30%;" onchange=cambio_initialInfo_Check()>
                                                <option><%= note.checkInitialInfo %></option>
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>

                                            <select class="form-select bg-dark text-white" id="initialInfoDoneBy" 
                                                name="initialInfoDoneBy" 
                                                style="width: 30%;" _onchange=cambio_initialInfo() hidden>
                                                    <option><%= note.initialInfoDoneBy %></option>
                                                    <%- include ('partials/optionsPeople.ejs') %>
                                            </select>

                                            <input 
                                                id="initialInfoDoneAt"
                                                name="initialInfoDoneAt"
                                                value="<%= note.initialInfoDoneAt %>"
                                                readonly
                                                type="text" 
                                                class="form-control bg-dark text-white"
                                                hidden
                                            >                                         
                                        </div>







                                    
                                        <div class="input-group mb-2">
                                            <span class="input-group-text bg-dark text-white" style="width: 40%;">Folders</span>
                                            <select class="form-select bg-dark text-white" id="checkFoldersSetup" 
                                                name="checkFoldersSetup" style="width: 30%;">
                                                <option><%= note.checkFoldersSetup %></option>
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                            <!-- <select class="form-select bg-dark text-white" id="foldersDoneBy" name="foldersDoneBy" 
                                                style="width: 30%;" onchange=cambio_folders()>
                                                    <option><%= note.foldersDoneBy %></option>
                                                    <%- include ('partials/optionsPeople.ejs') %>
                                            </select> -->
                                            <input 
                                                id="foldersDoneAt"
                                                name="foldersDoneAt"
                                                value="<%= note.foldersDoneAt %>"
                                                readonly
                                                type="text" 
                                                class="form-control bg-dark text-white"
                                                hidden
                                            >
                                        </div>


                                        
                                      
                                    


                                    
                                        <div class="input-group mb-2">
                                            <span class="input-group-text bg-dark text-white" style="width: 40%;">Offsets Info</span>
                                            <select class="form-select bg-dark text-white" id="checkOffsetWellsInfo" 
                                                name="checkOffsetWellsInfo" style="width: 30%;">
                                                <option><%= note.checkOffsetWellsInfo %></option>
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                            <!-- <select class="form-select bg-dark text-white" id="offsetsInfoDoneBy" 
                                                name="offsetsInfoDoneBy" 
                                                style="width: 30%;" onchange=cambio_offsetsInfo()>
                                                <option><%= note.offsetsInfoDoneBy %></option>
                                                <%- include ('partials/optionsPeople.ejs') %>
                                            </select> -->
                                                <input 
                                                    id="offsetsInfoDoneAt"
                                                    name="offsetsInfoDoneAt"
                                                    value= "<%= note.offsetsInfoDoneAt %>"
                                                    readonly
                                                    type="text" 
                                                    class="form-control bg-dark text-white"
                                                    hidden
                                                >
                                            </div>
                                    







                                    
                                        <div class="input-group mb-2">
                                            <span class="input-group-text bg-dark text-white" style="width: 40%;">Compass Offsets</span>
                                            <select class="form-select bg-dark text-white" id="checkCompassOffsets" 
                                                name="checkCompassOffsets" style="width: 30%;">
                                                <option><%= note.checkCompassOffsets %></option>
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                            <!-- <select class="form-select bg-dark text-white" id="compassOffsetsDoneBy" 
                                                name="compassOffsetsDoneBy" 
                                                style="width: 30%;" onchange=cambio_compassOffsets()>
                                                    <option><%= note.compassOffsetsDoneBy %></option>
                                                    <%- include ('partials/optionsPeople.ejs') %>
                                            </select> -->
                                            <input 
                                                id="compassOffsetsDoneAt"
                                                name="compassOffsetsDoneAt"
                                                value= "<%= note.compassOffsetsDoneAt %>"
                                                readonly
                                                type="text" 
                                                class="form-control bg-dark text-white"
                                                hidden
                                            >
                                        </div>








                                    
                                        <div class="input-group mb-2">
                                            <span class="input-group-text bg-dark text-white" style="width: 40%;">Compass Subject</span>
                                            <select class="form-select bg-dark text-white" id="checkCompassSubject" 
                                                name="checkCompassSubject" style="width: 30%;">
                                                <option><%= note.checkCompassSubject %></option>
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                            <!-- <select class="form-select bg-dark text-white" id="compassSubjectDoneBy" 
                                                name="compassSubjectDoneBy" 
                                                style="width: 30%;" onchange=cambio_compassSubject()>
                                                    <option><%= note.compassSubjectDoneBy %></option>
                                                    <%- include ('partials/optionsPeople.ejs') %>
                                            </select> -->
                                                <input 
                                                    id="compassSubjectDoneAt"
                                                    name="compassSubjectDoneAt"
                                                    value="<%= note.compassSubjectDoneAt %>"
                                                    readonly
                                                    type="text" 
                                                    class="form-control bg-dark text-white"
                                                    hidden
                                                >
                                            </div>










                                    
                                        <div class="input-group mb-2">
                                            <span class="input-group-text bg-dark text-white" style="width: 40%;">Planning</span>
                                            <select class="form-select bg-dark text-white" id="checkPlanning" 
                                                name="checkPlanning" style="width: 30%;">
                                                    <option><%= note.checkPlanning %></option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                            </select>
                                            <!-- <select class="form-select bg-dark text-white" id="planningDoneBy" 
                                                name="planningDoneBy" 
                                                style="width: 30%;" onchange=cambio_planning()>
                                                    <option><%= note.planningDoneBy %></option><%- 
                                                    include ('partials/optionsPeople.ejs') %>
                                            </select> -->
                                                <input 
                                                    id="planningDoneAt"
                                                    name="planningDoneAt"
                                                    value="<%= note.planningDoneAt %>"
                                                    readonly
                                                    type="text" 
                                                    class="form-control bg-dark text-white"
                                                    hidden
                                                >
                                            </div>








                                    
                                        <div class="input-group mb-2">
                                            <span class="input-group-text bg-dark text-white" style="width: 40%;">Reports</span>
                                            <select class="form-select bg-dark text-white" id="checkReports" 
                                                name="checkReports" style="width: 30%;">
                                                <option><%= note.checkReports %></option>
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>

                                            <!-- <select class="form-select bg-dark text-white" id="reportsDoneBy" name="reportsDoneBy" 
                                                style="width: 30%;" onchange=cambio_reports()>
                                                    <option><%= note.reportsDoneBy %></option>
                                                    <%- include ('partials/optionsPeople.ejs') %>
                                            </select> -->

                                            <input 
                                                id="reportsDoneAt"
                                                name="reportsDoneAt"
                                                value="<%= note.reportsDoneAt %>"
                                                readonly
                                                type="text" 
                                                class="form-control bg-dark text-white"
                                                hidden
                                            >
                                        </div>








                                    
                                        <div class="input-group mb-2">
                                            <span class="input-group-text bg-dark text-white" style="width: 40%;">Sent</span>
                                            <select class="form-select bg-dark text-white" id="checkSent" name="checkSent" 
                                                style="width: 30%;">
                                                <option><%= note.checkSent %></option>
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                            <!-- <select class="form-select bg-dark text-white" id="sentBy" name="sentBy" 
                                                style="width: 30%;" onchange=cambio_sent()>
                                                <option><%= note.sentBy %></option>
                                                <%- include ('partials/optionsPeople.ejs') %>
                                            </select> -->
                                            <input 
                                            id="sentAt"
                                            name="sentAt"  
                                            value="<%= note.sentAt%>"   
                                            readonly
                                            type="text" 
                                            class="form-control bg-dark text-white"
                                            hidden
                                            >
                                        </div>

   






                                    
                                        <div class="input-group mb-2">
                                            <span class="input-group-text bg-dark text-white" style="width: 40%;">ETS Update</span>
                                            <select class="form-select bg-dark text-white" id="checkETSUpdate" 
                                                name="checkETSUpdate" style="width: 30%;">
                                                    <option><%= note.checkETSUpdate %></option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                </select>
                                                <!-- <select class="form-select bg-dark text-white" id="ETSUpdateBy" name="ETSUpdateBy" 
                                                    style="width: 30%;" onchange=cambio_ETSUpdate()>
                                                        <option><%= note.ETSUpdateBy %></option>
                                                        <%- include ('partials/optionsPeople.ejs') %>
                                                </select> -->
                                                <input 
                                                    id="ETSUpdateAt"
                                                    name="ETSUpdateAt"  
                                                    value="<%= note.ETSUpdateAt%>"   
                                                    readonly
                                                    type="text" 
                                                    class="form-control bg-dark text-white"
                                                    hidden
                                                >
                                        </div>




                                </div>
                            </div>

                            


                            <!-- ---------------END OF WORK FLOW ---------------------- -->











                            <textarea name="description" id="description" placeholder="Description"
                                class="form-control mb-2 bg-dark text-white"
                                style="height: 500px;"
                                ondblclick='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                            ><%= note.description %></textarea>


                        </div>


                        <div class="form-group mb-2">
                            <button class="btn btn-success btn-block" type="submit">Save</button>
                            <a href="/notes" class="btn btn-primary btn-block my-2">Back</a>
                        </div>


                        <div class="mt-4" hidden>
                            <input type="text" name="title_cambio" id="title_cambio" placeholder="title_cambio" readonly>
                            <input type="text" name="responsible_cambio" id="responsible_cambio" placeholder="responsible_cambio" readonly>
                            <input type="text" name="customer_cambio" id="customer_cambio" placeholder="customer_cambio" readonly>
                            <input type="text" name="customerJobNumber_cambio" id="customerJobNumber_cambio" placeholder="customerJobNumber_cambio" readonly>
                            <input type="text" name="operator_cambio" id="operator_cambio" placeholder="operator_cambio" readonly>
                            <input type="text" name="rig_cambio" id="rig_cambio" placeholder="rig_cambio" readonly>
                            <input type="text" name="project_cambio" id="project_cambio" placeholder="project_cambio" readonly>
                            <input type="text" name="poc_cambio" id="poc_cambio" placeholder="poc_cambio" readonly>
                            <input type="text" name="priority_cambio" id="priority_cambio" placeholder="priority_cambio" readonly>
                            <input type="text" name="dueDate_cambio" id="dueDate_cambio" placeholder="dueDate_cambio" readonly>
                            <input type="text" name="invoice_cambio" id="invoice_cambio" placeholder="invoice_cambio" readonly>
                            <input type="text" name="status_cambio" id="status_cambio" placeholder="status_cambio" readonly>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- ----------------------------------------------------------------------------------------------- -->
    <script>
        function cambio_title() {document.getElementById("title_cambio").value = "Title changed."}
        function cambio_responsible() {document.getElementById("responsible_cambio").value = "Responsible changed."}
        function cambio_customer() {document.getElementById("customer_cambio").value = "Customer changed."}
        function cambio_customerJobNumber() {document.getElementById("customerJobNumber_cambio").value = "Customer Job Number changed."}
        function cambio_operator() {document.getElementById("operator_cambio").value = "operator changed."}
        function cambio_rig() {document.getElementById("rig_cambio").value = "Rig changed."}
        function cambio_project() {document.getElementById("project_cambio").value = "Project changed."}
        function cambio_poc() {document.getElementById("poc_cambio").value = "Point of Contact changed."}
        function cambio_priority() {document.getElementById("priority_cambio").value = "Priority changed."}
        function cambio_dueDate() {document.getElementById("dueDate_cambio").value = "Due Date changed."}
        function cambio_invoice() {document.getElementById("invoice_cambio").value = "Invoice changed."}
        function cambio_status() {document.getElementById("status_cambio").value = "Status changed."}


        function cambio_initialInfo_Check() {
            let userName = document.getElementById('userName').innerText;
            console.log(userName);
            document.getElementById('initialInfoDoneBy').value = userName;
        }


        function cambio_initialInfo() {document.getElementById('initialInfoDoneAt').value = new Date();}
        function cambio_folders() {document.getElementById('foldersDoneAt').value = new Date();}
        function cambio_offsetsInfo() {document.getElementById('offsetsInfoDoneAt').value = new Date();}
        function cambio_compassOffsets() {document.getElementById('compassOffsetsDoneAt').value = new Date();}
        function cambio_compassSubject() {document.getElementById('compassSubjectDoneAt').value = new Date();}
        function cambio_planning() {document.getElementById('planningDoneAt').value = new Date();}
        function cambio_reports() {document.getElementById('reportsDoneAt').value = new Date();}
        function cambio_sent() {document.getElementById('sentAt').value = new Date();}
        function cambio_ETSUpdate() {document.getElementById('ETSUpdateAt').value = new Date();}


        document.getElementById("inputGroupFile02").addEventListener("change", showUploadButton);

        function showUploadButton() {
            let uploadButton = document.getElementById("uploadButton");
            uploadButton.hidden = false;
            let removeButton = document.getElementById("removeButton");
            removeButton.hidden = true;
        }


        document.body.onload = function() {
            let imageurl = document.getElementById("imageURL").value;
            if(imageurl == ""){
                let removeButton = document.getElementById("removeButton");
                removeButton.hidden = true;
            } else {
                let removeButton = document.getElementById("removeButton");
                removeButton.hidden = false;
                uploadButton.hidden = true;
            }
        };

    </script>
    <!-- ----------------------------------------------------------------------------------------------- -->

    <%- include ('partials/footer.ejs') %>