
<%- include ('partials/header.ejs') %>


<!-- <%= note.mtxJobId %> -->


    <div class="container_ p-4">

            <div class="card text-white bg-dark mb-3 border-0">




                <% if (user.role == 'admin' || user.role == 'leader') { %>
                    <a href="/note/edit/<%= note._id %>" class="btn btn-warning btn-block my-2">Edit</a>
                    <a href="/notes" class="btn btn-primary btn-block my-2">Back</a>
                <% } %>




                <div class="input-group mb-2">
                    <span class="input-group-text bg-dark text-white">Task</span>
                    <input 
                        value="<%= note.title %>" 
                        readonly
                        type="text" 
                        class="form-control bg-dark text-white" 
                    >
                </div>




                <div class="input-group mb-2">
                    <span class="input-group-text bg-dark text-white">MTX_ID</span>
                    <input 
                        value="<%= note.mtxJobId %>" 
                        readonly
                        type="text" 
                        class="form-control bg-dark text-white" 
                    >
                </div>




                <div class="input-group mb-2">
                    <span class="input-group-text bg-dark text-white">Priority</span>
                    <input 
                        value="<%= note.priority %>" 
                        readonly
                        type="text" 
                        class="form-control bg-dark text-white" 
                    >
                </div>



                <% if (user.role == 'admin' || user.role == 'leader') { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Invoice</span>
                        <input 
                            value="<%= note.invoice %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>




                <% if (user.role == 'admin' || user.role == 'leader') { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Responsible</span>
                        <input 
                            value="<%= note.responsible %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>




                <% if (user.role == 'admin' || user.role == 'leader') { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Created</span>
                        <input 
                            value="<%= note.createdAt %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>




                <div class="input-group mb-2">
                    <span class="input-group-text bg-dark text-white">Created</span>
                    <input 
                        value="<%= note.created %>" 
                        readonly
                        type="text" 
                        class="form-control bg-dark text-white" 
                    >
                </div>




                <% if (note.customer && note.customer != "Other") { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Customer</span>
                        <input 
                            value="<%= note.customer %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>




                <% if (note.customerJobNumber) { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">C.Job# / Plan Version</span>
                        <input 
                            value="<%= note.customerJobNumber %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>
                



                <% if (note.operator && note.operator != "Choose...") { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Operator</span>
                        <input 
                            value="<%= note.operator %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>




                <% if (note.rig) { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Rig</span>
                        <input 
                            value="<%= note.rig %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>





                <% if (note.project) { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Project / Site</span>
                        <input 
                            value="<%= note.project %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>






                <% if (note.area) { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Area</span>
                        <input 
                            value="<%= note.area %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>





                <% if (note.wells) { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Wells</span>
                        <input 
                            value="<%= note.wells %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>





                <% if (note.budget) { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Budget</span>
                        <input 
                            value="<%= note.budget %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>





                <% if (note.poc) { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">D.E</span>
                        <input 
                            value="<%= note.poc %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %>





                <!-- <% if (note.geologist) { %> -->
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Geo</span>
                        <input 
                            value="<%= note.geologist %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <!-- <% } %> -->



                <div class="input-group mb-2">
                    <span class="input-group-text bg-dark text-white">Status</span>
                    <input 
                        value="<%= note.status %>" 
                        readonly
                        type="text" 
                        class="form-control bg-dark _text-white"

                        <% if (note.status == "Not Started") { %>
                            style="color: white;"
                        <% } %>

                        <% if (note.status == "In Progress") { %>
                            style="color: aqua;"
                        <% } %>

                        <% if (note.status == "On Hold") { %>
                            style="color: red;"
                        <% } %>

                        <% if (note.status == "QA/QC") { %>
                            style="color: orange;"
                        <% } %>

                        <% if (note.status == "Completed") { %>
                            style="color: chartreuse;"
                        <% } %>

                        <% if (note.status == "Billed") { %>
                            style="color: green;"
                        <% } %>
                    >
                </div>





                <% if (note.dueDate) { %>
                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white">Due Date</span>
                        <input 
                            value="<%= note.dueDate %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                        >
                    </div>
                <% } %> 





                
                <!-- <a href="/note/edit/<%= note._id %>" class="btn btn-warning btn-block my-2">Edit</a> -->

                <% if (user.role == 'admin' || user.role == 'leader') { %>
                    <a href="/note/edit/<%= note._id %>" class="btn btn-warning btn-block my-2">Edit</a>
                    <a href="/notes" class="btn btn-primary btn-block my-2">Back</a>
                <% } %>

            </div> 
            
            





            
            <!-- <% if (note.user == '62f2aa034552be31b8c7ae75') { %>
                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1688420541/Polita-cartoon_z5zbap.jpg" 
                class="img-fluid" alt="avatar" style="border-radius: 50%;max-width:80px;">
            <% } %>



            <% if (note.user == '62ac0c8d2cbdfe3c9c4b4f38') { %>
                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1688420535/cartoon-john-02_r8nq1f.jpg" 
                class="img-fluid" alt="avatar" style="border-radius: 50%;max-width:80px;">
            <% } %> -->

            
    
            <div class="form-group mb-2">
                <textarea name="description" 
                    class="form-control bg-dark text-white" 
                    style="height: 300px;font-size: smaller;"
                    onmousemove='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                    disabled><%= note.description %>
                </textarea>
            </div>



            <script>
                document.title = 'MTX Conveyor <%= note.mtxJobId %>';
            </script>






            <!--------------- WORK FLOW --------------->



            <div class="card mb-3 border-0">

                <div class="card-body" style="background-color: blue;">



                    <h4 class="card-title mb-4">Work Flow</h4>



                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white" style="width: 40%;" >Initial Info</span>
                        <input 
                            value="<%= note.checkInitialInfo %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white" 
                            style="width: 30%;"
                        >
                        <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                            <span class="input-group-text bg-dark text-white" 
                            style="width: 30%;"><%= note.initialInfoDoneBy %></span>
                        <% } %> -->
                    </div>
                    <% if (user.role == 'admin' || user.role == 'leader') { %>
                        <div class="mb-4 ml-4" style="font-size: xx-small;"><%= note.initialInfoDoneAt %></div>
                    <% } %>



                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white" style="width: 40%;">Folders</span>
                        <input 
                            value="<%= note.checkFoldersSetup %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white"
                            style="width: 30%;"
                        >
                        <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                            <span class="input-group-text bg-dark text-white" 
                            style="width: 30%;"><%= note.foldersDoneBy %></span>
                        <% } %> -->
                    </div>
                    <% if (user.role == 'admin' || user.role == 'leader') { %>
                        <div class="mb-4 ml-4" style="font-size: xx-small;"><%= note.foldersDoneAt %></div>
                    <% } %>



                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white" style="width: 40%;">Offsets Info</span>
                        <input 
                            value="<%= note.checkOffsetWellsInfo %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white"
                            style="width: 30%;"
                        >
                        <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                            <span class="input-group-text bg-dark text-white" 
                            style="width: 30%;"><%= note.offsetsInfoDoneBy %></span>
                        <% } %> -->
                    </div>
                    <% if (user.role == 'admin' || user.role == 'leader') { %>
                        <div class="mb-4 ml-4" style="font-size: xx-small;"><%= note.offsetsInfoDoneAt %></div>
                    <% } %>




                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white" style="width: 40%;">Compass Offsets</span>
                        <input 
                            value="<%= note.checkCompassOffsets %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white"
                            style="width: 30%;"
                        >
                        <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                            <span class="input-group-text bg-dark text-white" 
                            style="width: 30%;"><%= note.compassOffsetsDoneBy %></span>
                        <% } %> -->
                    </div>
                    <% if (user.role == 'admin' || user.role == 'leader') { %>
                        <div class="mb-4 ml-4" style="font-size: xx-small;"><%= note.compassOffsetsDoneAt %></div>
                    <% } %>




                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white" style="width: 40%;">Compass Subject</span>
                        <input 
                            value="<%= note.checkCompassSubject %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white"
                            style="width: 30%;"
                        >
                        <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                            <span class="input-group-text bg-dark text-white" 
                            style="width: 30%;"><%= note.compassSubjectDoneBy %></span>
                        <% } %> -->
                    </div>
                    <% if (user.role == 'admin' || user.role == 'leader') { %>
                        <div class="mb-4 ml-4" style="font-size: xx-small;"><%= note.compassSubjectDoneAt %></div>
                    <% } %>



                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white" style="width: 40%;">Planning</span>
                        <input 
                            value="<%= note.checkPlanning %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white"
                            style="width: 30%;"
                        >
                        <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                            <span class="input-group-text bg-dark text-white" 
                            style="width: 30%;"><%= note.planningDoneBy %></span>
                        <% } %> -->
                    </div>
                    <% if (user.role == 'admin' || user.role == 'leader') { %>
                        <div class="mb-4 ml-4" style="font-size: xx-small;"><%= note.planningDoneAt %></div>
                    <% } %>




                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white" style="width: 40%;">Reports</span>
                        <input 
                            value="<%= note.checkReports %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white"
                            style="width: 30%;"
                        >
                        <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                            <span class="input-group-text bg-dark text-white" 
                            style="width: 30%;"><%= note.reportsDoneBy %></span>
                        <% } %> -->
                    </div>
                    <% if (user.role == 'admin' || user.role == 'leader') { %>
                        <div class="mb-4 ml-4" style="font-size: xx-small;"><%= note.reportsDoneAt %></div>
                    <% } %>




                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white" style="width: 40%;">Sent</span>
                        <input 
                            value="<%= note.checkSent %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white"
                            style="width: 30%;"
                        >
                        <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                            <span class="input-group-text bg-dark text-white" 
                            style="width: 30%;"><%= note.sentBy %></span>
                        <% } %> -->
                    </div>
                    <% if (user.role == 'admin' || user.role == 'leader') { %>
                        <div class="mb-4 ml-4" style="font-size: xx-small;"><%= note.sentAt %></div>
                    <% } %>




                    <div class="input-group mb-2">
                        <span class="input-group-text bg-dark text-white" style="width: 40%;">ETS Update</span>
                        <input 
                            value="<%= note.checkETSUpdate %>" 
                            readonly
                            type="text" 
                            class="form-control bg-dark text-white"
                            style="width: 30%;"
                        >
                        <!-- <% if (user.role == 'admin' || user.role == 'leader') { %>
                            <span class="input-group-text bg-dark text-white" 
                            style="width: 30%;"><%= note.ETSUpdateBy %></span>
                        <% } %> -->
                    </div>
                    <% if (user.role == 'admin' || user.role == 'leader') { %>
                        <div class="mb-4 ml-4" style="font-size: xx-small;"><%= note.ETSUpdateAt %></div>
                    <% } %>


                </div>
            </div>














            <div>
                <% if (user.role == 'admin') { %>

                    <div class="accordion accordion-flush border border-2" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button btn-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="color: red;">
                                    Delete
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" style="background-color: black;">
                                <div class="accordion-body">
                                    <form action="/notes/delete/<%=note._id%>?_method=delete" method="post" class="my-2">
                                        <input type="hidden" name="_method" value="delete">
                                        <button type="submit" class="btn btn-danger btn-block btn-sm_">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>                          
                    </div>

                    <a href="/note/edit/<%= note._id %>" class="btn btn-warning btn-block my-2">Edit</a>
                    <a href="/notes" class="btn btn-primary btn-block my-2">Back</a>
                <% } %> 

                <% if (user.role == 'user' || user.role == 'leader') { %>
                    <a href="/note/edit/<%= note._id %>" class="btn btn-warning btn-block my-2">Edit</a>
                    <a href="/notes" class="btn btn-primary btn-block my-2">Back</a>
                <% } %>
                        
                <% if (user.role == 'viewer') { %>
                    <a href="/notes" class="btn btn-primary btn-block my-2">Back</a>
                <% } %>
            </div>

        <!-- </div> -->










        <!----------------- NEW LOG ------------------>



        <% if (user.role == 'admin' || user.role == 'leader' || user.role == '_user') { %>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button btn-primary" type="button" data-bs-toggle="collapse" 
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            New Log Entry
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="background-color: black;">
                        <div class="accordion-body">
                            <% if (user.role == 'admin' || user.role == 'leader') { %>
                                <form action="/notes/new-log/<%=note._id%>" method="post" class="my-2">
                                    <textarea name="newlog" id="newlog" rows="5" class="form-control bg-dark text-white"></textarea>
                                    <button type="submit" class="btn btn-info btn-block btn-sm_">New Log</button>
                                </form>
                            <% } %> 
                            <% if (user.role == 'user') { %>
                                <form action="/notes/new-log/<%=note._id%>" method="post" class="my-2">
                                    <textarea name="newlog" id="newlog" rows="5" class="form-control bg-dark text-white"></textarea>
                                    <button type="submit" class="btn btn-info btn-block btn-sm_">New Log</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>  
            </div>
        <% } %>

        





            



        <!----------------- LOG ------------------>


        <% if (user.role == 'admin' || user.role == 'leader') { %>


            <div style="background-color: darkslategray;">


                <h4 class="mt-4 p-4">Log</h4>


                <% log.forEach(e => { %>
                    <div class="card my-2">
                        <div class="card-body">
                                <div class="container_">

                                    <div class="row">

                                        <!-- <div class="col-1">
                                            

                                            <% if (e.user == 'John') { %>
                                                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1688420535/cartoon-john-02_r8nq1f.jpg" 
                                                class="img-fluid" alt="avatar" style="border-radius: 50%;max-width:80px;">
                                            <% } %>



                                            <% if (e.user == 'Polita') { %>
                                                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1688420541/Polita-cartoon_z5zbap.jpg" 
                                                class="img-fluid" alt="avatar" style="border-radius: 50%;max-width:80px;">
                                            <% } %>



                                            <% if (e.user == 'Sammy') { %>
                                                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1688420550/Sammy-cartoon-02_primlc.jpg" 
                                                class="img-fluid" alt="avatar" style="border-radius: 50%;max-width:80px;">
                                            <% } %>



                                            <% if (e.user == 'Pablo') { %>
                                                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1703868299/Pablo_cartoon-02_noBG_yyq0hf.png" 
                                                class="img-fluid" alt="avatar" style="border-radius: 50%;max-width:80px;">
                                            <% } %>



                                            <% if (e.user == 'Daniel') { %>
                                                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1709080584/MTX_Daniel_osga7g.png" 
                                                class="img-fluid" alt="avatar" style="border-radius: 50%;max-width:80px;">
                                            <% } %>



                                            <% if (e.user == 'Efrain') { %>
                                                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1688420546/Efrain-Cartoon-01_xlttwu.jpg" 
                                                class="img-fluid" alt="avatar" style="border-radius: 50%;max-width:80px;">
                                            <% } %>

                                            

                                            <% if (e.user == 'Ricardo') { %>
                                                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1688421224/ricardo-cartoon-2_uqmkrp.jpg" 
                                                class="img-fluid" alt="avatar" style="border-radius: 50%;max-width:80px;">
                                            <% } %>



                                            <% if (e.user == 'Norma') { %>
                                                <img src="https://res.cloudinary.com/metacortexjohn/image/upload/v1692300758/Norma2-cartoon-02_ihxmth.jpg" 
                                                class="img-fluid" alt="avatar" style="border-radius: 50%;max-width:60px;">
                                            <% } %>

                                            

                                        </div> -->

                                        <div class="col-10">
                                            <textarea name="description"
                                                class="form-control bg-dark" 
                                                style="height: 90px; font-size: smaller;color:gray;margin-left: 50px;" 
                                                onmousemove='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                                                disabled.><%= e.log %>
                                            </textarea>    
                                        </div>

                                    </div>
                                </div>
                            <div style="font-size: xx-small;">-<%= e.user %></div>
                            <div style="font-size: xx-small;">@ <%= e.createdAt %></div>
                        </div>
                    </div>
                <% }) %>

            </div>

        <% } %>



    </div>  
    
    <script>
        // window.onblur = function() {
        //     document.title = 'Please come back!';
        // };

        // window.onfocus = function() {
        //     document.title = 'You have 6 items';
        // };

        // function idintab(id) {
        //     document.title = id;
        // }

    </script>


<%- include ('partials/footer.ejs') %>