<%- include ('partials/header.ejs') %>

    <div class="container">

        <h1 style="color: black;">MTX Query Jobs</h1>

        <a class="btn btn-danger btn-block my-2" href="/notes">Cancel</a>

        <div class="row">

            <table class="table table-hover table-striped table-dark table-sm">
                
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Responsible</th>
                    </tr>
                </thead>

                <tbody>
                    <% notes.forEach(note=> { %>

                        <% if (user.role == 'admin' || user.name==note.responsible) { %>

                            <% if (donde == "Customer" ) { %>
                                <% if (note.customer == buscar ) { %>
                                    <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                        <th scope="row"><%= note.mtxJobId %></th>
                                        <td><%= note.title %></td>
                                        <td><%= note.responsible %></td>
                                    </tr>
                                <% } %>
                            <% } %>

                            <% if (donde == "Customer Job Number" ) { %>
                                <% if (note.customerJobNumber == buscar ) { %>
                                    <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                        <th scope="row"><%= note.mtxJobId %></th>
                                        <td><%= note.title %></td>
                                        <td><%= note.responsible %></td>
                                    </tr>
                                <% } %>
                            <% } %>

                            <% if (donde == "Operator" ) { %>
                                <% if (note.operator == buscar ) { %>
                                    <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                        <th scope="row"><%= note.mtxJobId %></th>
                                        <td><%= note.title %></td>
                                        <td><%= note.responsible %></td>
                                    </tr>
                                <% } %>
                            <% } %>

                            <% if (donde == "Responsible" ) { %>
                                <% if (note.operator == buscar ) { %>
                                    <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                        <th scope="row"><%= note.mtxJobId %></th>
                                        <td><%= note.title %></td>
                                        <td><%= note.responsible %></td>
                                    </tr>
                                <% } %>
                            <% } %>

                        <% } %>

                    <% }) %>

                </tbody>

            </table>

        </div>

    </div>

    <%- include ('partials/footer.ejs') %>