

<%- include ('partials/header.ejs') %>

    <div class="container_ P-4_ mx-4">

        <h1 style="color: black;">MTX Query Jobs</h1>

        <!-- <pre><%= notes %></pre> -->
        <%= user.role %>

        <a class="btn btn-danger btn-block my-2" href="/notes">Cancel</a>

        <div class="row">

            <table class="table table-hover _table-striped table-dark table-sm">
                
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Task</th>
                        <th scope="col">V.</th>
                        <th scope="col">Project</th>
                        <th scope="col">Wells</th>
                        <th scope="col">Area</th>
                        <!-- <th scope="col">Budget</th> -->
                        <th scope="col">Rig</th>
                        <th scope="col">D.E</th>
                        <th scope="col">Geo</th>
                        <!-- <th scope="col">Resp.</th> -->
                        <!-- <th scope="col">Prio.</th> -->
                        <th scope="col">Created</th>
                        <th scope="col">Due</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>


                <tbody>

                    <% notes.forEach(note=> { %>

                        <% if (user.role == 'admin') { %>
                            <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                <th scope="row"><small>
                                    
                                        <% if (user.name == "Johanna") { %>
                                            <span class="dotJohanna"></span>
                                        <% } %>
                                        <% if (user.name == "Daniel") { %>
                                            <span class="dotDaniel"></span>
                                        <% } %>
                                        <% if (user.name == "Pablo") { %>
                                            <span class="dotPablo"></span>
                                        <% } %>
                                        <% if (user.name == "Sammy") { %>
                                            <span class="dotSammy"></span>
                                        <% } %>
                                        <% if (user.name == "Polita") { %>
                                            <span class="dotPolita"></span>
                                        <% } %>
                                        <% if (user.name == "John") { %>
                                            <span class="dotJohn"></span>
                                        <% } %>
                                    
                                    <%= note.mtxJobId %></small>
                                </th>
                                <td><%= note.title %></td>
                                <td><%= note.customerJobNumber %></td>
                                <td><%= note.project %></td>
                                <td><%= note.wells %></td>
                                <td><%= note.area %></td>
                                <!-- <td><%= note.budget %></td> -->
                                <td><%= note.rig %></td>
                                <td><%= note.poc %></td>
                                <td><%= note.geologist %></td>
                                <!-- <td><%= note.responsible %></td> -->
                                <!-- <td><%= note.priority %></td> -->
                                <td><small><%= note.created %></small></td>
                                <td><small><%= note.dueDate %></small></td>
                                <td><%= note.status %></td>
                            </tr>
                        <% } %>


                        <% if (user.role != 'admin') { %>
                            <% if ((note.status != 'Archived') && (note.status != 'Billed')) { %>
                                <tr onclick="window.location.href='/notes/job/<%= note._id %>';">
                                    <th scope="row"><small><%= note.mtxJobId %></small></th>
                                    <td><%= note.title %></td>
                                    <td><%= note.customerJobNumber %></td>
                                    <td><%= note.project %></td>
                                    <td><%= note.wells %></td>
                                    <td><%= note.area %></td>
                                    <!-- <td><%= note.budget %></td> -->
                                    <td><%= note.rig %></td>
                                    <td><%= note.poc %></td>
                                    <td><%= note.geologist %></td>
                                    <td><%= note.responsible %></td>
                                    <td><%= note.priority %></td>
                                    <td><small><%= note.created %></small></td>
                                    <td><small><%= note.dueDate %></small></td>
                                    <td><%= note.status %></td>
                                </tr>
                            <% } %>
                        <% } %>


                    <% }) %>

                </tbody>

            </table>

        </div>

    </div>


    <%- include ('partials/footer.ejs') %>