<%- include ('partials/header.ejs') %>

    <div class="container">

        <!-- <h1 class="mb-4">ID: <%= note.mtxJobId %></h1> -->
        <!-- <h3 class="mb-4">USER: <%= user.name %></h3> -->

        <!-- <pre><%= note %></pre> -->

        <div class="row m-4">

            <form action="/upload" method="POST" enctype="multipart/form-data">

                <div class="card mb-3" style="background-color: #483D8B;">
                    <div class="card-body">
                        <p class="card-text">Select a picture for ID: <%= note.mtxJobId %></p>
                        <div class="input-group mb-3">
                            <input
                                type="file" 
                                name="image" 
                                class="form-control" 
                                id="inputGroupFile02"
                            >
                        </div>
                    </div>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Upload</button>
                </div>

            </form>

        </div>
    </div>

<%- include ('partials/footer.ejs') %>